Terms:

1. No Copying is (ALLOWED) if copied we can demand of you getting banned in multiple places.

2. If caught trying to crack you will be blacklisted in a second if you get falsely accused of trying to crack or taunting around with the script then, Dm Blast#3511 or 7687#7720. (THIS MIGHT HAPPEN A LOT)

3. If caught trying to share the account thats whitelisted you will get permanently blacklisted until shown proof is sent that you never tryed to share anything to mods/admins.

4. If caught saying "look at this script i made", Or Taking Credit you will be blacklisted.

5. If your in a group thats dedicated to cracking our script or just scripts in general you will be blacklisted. (ONLY IF REALLY ACTIVE IN THAT GROUP OR A HIGH RANK)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

A Little Info:

1. If you get blacklisted for any of these and its the first time this has happend to you, you will be able to rebuy if you have been caught doing it 2 or more times, you will be blacklisted forever.

2. This Script Is A Paid DaHood Script Made By Blast#3511 And 7687#7720

3. Coming Soon.....
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Legal Information:

Exploiting is not illegal under any law or regulation.
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
